@import "bourbon"


@media only screen and (max-width : 1045px)
	.b-main__socials
		display: none

@media only screen and (max-width : 991px)
	body
		font-size: 15px

	.container
		max-width: 640px
		padding: 0 10px

	.b-top
		&__menu
			display: inline-block
			vertical-align: middle
			text-decoration: none
			&::before
				display: inline-block
				vertical-align: middle
				content: '\e901'
				font-size: 35px
				color: $color
				font-weight: 700
		&__search,
		&__links
			display: none
		&__logo
			width: 200px
			text-align: right

	.b-logo
		&__name
			font-size: 12px
			width: 130px
		&__img
			height: 33px

	.b-nav,
	.b-breadcrumbs
		display: none

	.b-main
		&__sidebar
			display: none

	.b-content
		padding: 15px 15px 25px
		&__title
			font-size: 20px

	.b-quote
		padding: 15px
		margin: 15px 0 30px
		margin-left: -30px
		transform: translateX(15px)
		&__img
			margin: 15px auto -30px
			&--desktop
				display: none
			&--mobile
				display: block
				float: none

	.b-product
		margin-top: 50px
		&__title
			font-size: 22px

	.b-test
		&__question
			font-size: 15px
			margin-top: 8px
		&__answers
			&.selected
				.b-test
					&__answer
						animation-name: none
						&::after
							display: block
		&__answer
			padding-left: 45px
			&::after
				display: none
				right: auto
				left: 10px
		&__peoples
			display: block
			margin: 10px 0 0

	.b-comments
		padding: 25px 15px 15px
		&__item
			&:nth-child(-n+3)
				display: none
