doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora:400,700")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						a.b-top__menu(href="")
						.b-top__search
							.b-search
								a.b-search__btn(href="")
								.b-search__field
									input(type="text")
						.b-top__links
							a.b-top__link(href="") Журнал о здоровье
							a.b-top__link(href="") Регистрация
							a.b-top__link(href="") Вход
						.b-top__logo.b-logo
							span.b-logo__name Личный блог Фатимы Аллаховны
							img.b-logo__img(src="img/logo.png", alt="")
			.b-nav
				.container
					.b-nav__inner
						.b-nav__list
							a.b-nav__item.b-nav__item--1(href="") Полезности
							a.b-nav__item.b-nav__item--2(href="") Смешное
							a.b-nav__item.b-nav__item--3.active(href="") Наболело
							a.b-nav__item.b-nav__item--4(href="") О любви
			.b-breadcrumbs
				.container
					.b-breadcrumbs__inner
						a.b-breadcrumbs__link(href="") Блог
						a.b-breadcrumbs__link(href="") Наболело
						a.b-breadcrumbs__link(href="") Почему в Ливане так мало секса?
						span.b-breadcrumbs__date #[script dtime_nums(-5, true)]
			.b-main
				.container
					.b-main__inner
						.b-main__socials.b-socilas
							a.b-socilas__item.b-socilas__item--facebook(href="")
							a.b-socilas__item.b-socilas__item--twitter(href="")
						.b-main__wrapper
							.b-main__content
								.b-content
									h1.b-content__title Почему в Ливане так мало секса?
									p.b-content__text Девчонки, привет. #[br] Обсуждала эту тему со знакомыми в оффлайне, решила перенести все в интернет. Здесь народу больше. Сразу задам свой главный вопрос: что не так с мужчинами в Ливане?
									img(src="img/img-1.jpg", alt="").b-content__img
									p.b-content__text Я переехала сюда чуть меньше года назад по работе. До этого жила в Израиле, а вы знаете, какие там мужчины: все высокие, сильные, ухоженные. Пахнут так, что сразу хочется раздеваться и прижиматься к ним всеми частями тела.
									p.b-content__text После Израиля ливанские мужчины стали для меня очень неприятным открытием. У них очень сильно пахнут ноги! Казалось бы - открытую обувь носят многие, доступ к горячей воде есть у всех, но почему-то почти все парни в нашем стартапе и несколько чуваков из тиндера ПАХЛИ ОЧЕНЬ ПЛОХО.
									blockquote.b-quote
										img(src="img/img-2.jpg", alt="").b-quote__img
										p.b-quote__text Сначала я думала, что это запах потного тела. Но все оказалось еще хуже!
										p.b-quote__text Это их ноги, ноги!!!
									p.b-content__text Вот скажите мне, они у вас что, не моются? Или не привыкли каждый день менять носки? Или однажды на весь Ливан напала чума в виде грибка ногтей и поразила всю мужскую часть населения?
									p.b-content__text Серьезно. Я никогда не встречала такого количества мужчин с вонючими ногами. У вас не страна, а армейская казарма какая-то.
									p.b-content__text Я не говорю, что пахли все, но несколько мужчин, с которыми у меня дело доходило дальше первого свидания, просто убивали меня этим запахом грязной подгнившей кожи.
									p.b-content__text Хуже всего то, что запах мешал сексу. Если до постели он был еще не очень заметным, то стоило мужчине оказаться голым - я тут же становилась зеленой и мечтала, чтобы он исчез из моей жизни навсегда.
									img(src="img/img-3.jpg", alt="").b-content__img
									.b-content__test
										.b-test
											p.b-test__lead Я решила провести опрос в интернете.
											p.b-test__question Что больше всего вас раздражает в мужчине?
											.b-test__answers
												p.b-test__answer.b-test__answer--1 1. Грязная одежда
													span.b-test__line
												p.b-test__answer.b-test__answer--2 2. Плохие манеры
													span.b-test__line
												p.b-test__answer.b-test__answer--3 3. Маленький член 
													span.b-test__line
												p.b-test__answer.b-test__answer--4 4. Вонючие ноги
													span.b-test__line
											.b-test__footer
												img.b-test__ava(src="img/test-ava-1.jpg", alt="")
												img.b-test__ava(src="img/test-ava-2.jpg", alt="")
												img.b-test__ava(src="img/test-ava-3.jpg", alt="")
												p.b-test__peoples Всего проголосовало 753 человек
									p.b-content__text Я спросила своих подружек - что может отвратить их от мужчины. Погуглила статистику в интернете. Так вот, мальчики. Даже если у вас маленький член, который работает через раз, это не так плохо, как ваши вонючие ноги. Запомните это! Женщины реагируют на запахи больше всего - именно по ним мы ориентируемся, когда выбираем себе партнера.
									p.b-content__text Конечно, я ни одному из них не говорила о том, что он плохо пахнет. Не знаю, понимали ли они причину моего отказа заниматься сексом или нет, 
									blockquote.b-quote
										img(src="img/img-4.jpg", alt="").b-quote__img
										p.b-quote__text но 7 из 8 раз, когда я собиралась заняться сексом, не получались, потому что - да-да! - мужик вонял.
										p.b-quote__text Восьмой раз получился, потому что мы были в душе.
									.b-content__product.b-product
										p.b-product__title К чему это я все? Решение есть!
										p.b-product__text Посмотрите на европейский спрей для ног. Называется #[a(href="") Fresh Fingers] - и название говорит само за себя. #[br] Да здравствуют свежие мужские пальчики!
										a(href="")
											img.b-product__img(src="img/product.png", alt="")
										a.b-product__btn.b-btn(href="") Заказать
								.b-main__comments.b-comments
									h2.b-comments__title Комментарии
									.b-comments__item
										.b-comments__top
											img(src="img/ava-1.jpg", alt="").b-comments__ava
											span.b-comments__name Оля:
											span.b-comments__date #[script dtime_nums(-8, true)]
										p.b-comments__text Ну наконец-то кто-то поднял эту тему. Невыносимо уже
										.b-comments__footer
											span.b-comments__likes 37
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-2.jpg", alt="").b-comments__ava
											span.b-comments__name Мари:
											span.b-comments__date #[script dtime_nums(-7, true)]
										p.b-comments__text Согласна. Мои мужчины тоже все воняли как один. До сих пор тошно и каждый раз напрягаюсь на свиданиях
										.b-comments__footer
											span.b-comments__likes 46
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-3.jpg", alt="").b-comments__ava
											span.b-comments__name Окс:
											span.b-comments__date #[script dtime_nums(-6, true)]
										p.b-comments__text Согласна. Я в какой-то момент даже начала думать, что это естественный запах, который мужчины выделяют перед сексом. Фу.
										.b-comments__footer
											span.b-comments__likes 89
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-4.jpg", alt="").b-comments__ava
											span.b-comments__name Олег:
											span.b-comments__date #[script dtime_nums(-5, true)]
										p.b-comments__text По-моему, девушки, вы перегибаете палку
										.b-comments__footer
											span.b-comments__likes 5
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-5.jpg", alt="").b-comments__ava
											span.b-comments__name Настя:
											span.b-comments__date #[script dtime_nums(-4, true)]
										p.b-comments__text Нет, если бы одна так считала, то еще можно было бы подумать. Но вы правда плохо пахнете
										.b-comments__footer
											span.b-comments__likes 30
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-6.jpg", alt="").b-comments__ava
											span.b-comments__name Виктор:
											span.b-comments__date #[script dtime_nums(-3, true)]
										p.b-comments__text Да, как ни прискорбно замечать, запах имеет место. Спасибо за наводку на спрей, обязательно закажу. До этого что только ни использовал, вспомнить противно
										.b-comments__footer
											span.b-comments__likes 45
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-7.jpg", alt="").b-comments__ava
											span.b-comments__name Кира:
											span.b-comments__date #[script dtime_nums(-2, true)]
										p.b-comments__text Народ! Спрей реально работает, берите и не думайте! Автору спасибо, что вы несла тему на всеобщее обсуждение
										.b-comments__footer
											span.b-comments__likes 58
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
							.b-main__sidebar
								.b-sidebar
									h2.b-sidebar__caption Это может быть интересным
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-1.jpg", alt="")
										p.b-sidebar__text Названа главная причина разводов в стране. Ты удивишься!
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-2.jpg", alt="")
										p.b-sidebar__text 5 признаков, что тебе пора сменить мужчину
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-3.jpg", alt="")
										p.b-sidebar__text Почему он не звонит? Узнайте, что делать, чтобы сохранить отношения
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-4.jpg", alt="")
										p.b-sidebar__text Как запах партнера влияет на желание заняться сексом
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-5.jpg", alt="")
										p.b-sidebar__text 20+ фото счастливых семейных пар. Узнай их секреты!
			.b-footer
				.container
					p.b-footer__copyright © #[span.ryear] Copyright
		script(src="js/common.js")