doctype html
html

	head
		meta(charset='utf-8')
		title إليك سبب ندرة الجنس في لبنان
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora:400,700")
		link(rel='stylesheet', href='css/style.css')
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						a.b-top__menu(href="")
						.b-top__search
							.b-search
								a.b-search__btn(href="")
								.b-search__field
									input(type="text")
						.b-top__links
							a.b-top__link(href="") Журнал о здоровье
							a.b-top__link(href="") Регистрация
							a.b-top__link(href="") Вход
						.b-top__logo.b-logo
							span.b-logo__name Личный блог Фатимы Аллаховны
							img.b-logo__img(src="img/logo.png", alt="")
			.b-nav
				.container
					.b-nav__inner
						.b-nav__list
							a.b-nav__item.b-nav__item--1(href="") Полезности
							a.b-nav__item.b-nav__item--2(href="") Смешное
							a.b-nav__item.b-nav__item--3.active(href="") Наболело
							a.b-nav__item.b-nav__item--4(href="") О любви
			.b-breadcrumbs
				.container
					.b-breadcrumbs__inner
						a.b-breadcrumbs__link(href="") Блог
						a.b-breadcrumbs__link(href="") Наболело
						a.b-breadcrumbs__link(href="") إليك سبب ندرة الجنس في لبنان
						span.b-breadcrumbs__date #[script dtime_nums(-5, true)]
			.b-main
				.container
					.b-main__inner
						.b-main__socials.b-socilas
							a.b-socilas__item.b-socilas__item--facebook(href="")
							a.b-socilas__item.b-socilas__item--twitter(href="")
						.b-main__wrapper
							.b-main__content
								.b-content
									h1.b-content__title إليك سبب ندرة الجنس في لبنان
									p.b-content__text مرحبًا بكم يانساء! #[br] لقد أجريت بالفعل بمناقشة مع أصدقائي حول هذا الوضع خارج الإنترنت، ولكن أعتقد أنه حان الوقت لمناقشة هذه المسألة عبر الإنترنت الآن لأن هناك المزيد من الأشخاص هنا. سؤالي الأساسي هو: ما مشكـلة الرجال في لبنان؟
									img(src="img/img-1.jpg", alt="").b-content__img
									p.b-content__text انتقلت هنا للعمل قبل أقل من عام. قبل ذلك، كنت أعيش في إسرائيل. كما تعلمون، الشبان الإسرائيليون طويلون وأقوياء ومهذبون. رائحتهم جيدة لدرجة أنكِ تريدن التعرى سريعًا ومعانقتهم.
									p.b-content__text بعد العـيش في إسرائيل، كان الرجال اللبنانيين خيبة أمل كبيرة. أقدامهم نتنة جدًا! كثير من الرجال يرتدون حذاء مفتوح ويستخـدمون الماء الساخن، ولكن لسبب جميع الرجال تقريبًا الذين يعملون في شركاتنا الناشئة وعدد قليل من الرجال قابلتهم عبر تطبيق تيندر رائحتهم سيئة للغاية.
									blockquote.b-quote
										img(src="img/img-2.jpg", alt="").b-quote__img.b-quote__img--desktop
										p.b-quote__text في البداية، اعتقدت أنها رائحة عرق الجسد. ولكن كان الوضـع أسوأ!
										p.b-quote__text كانت أقدامهم التي تنضح الرائحة!
										img(src="img/img-2.jpg", alt="").b-quote__img.b-quote__img--mobile
									p.b-content__text هل يمكن لأحد أن يخبرني ما هي مشكلة هؤلاء الرجال؟ هل هذا لأنهم لم يسمعوا أبدًا عن النظافة الشخصية؟ أو لأنهم غير معتادين على ارتداء الجوارب النظيفة كل يوم؟ هل هو نوع من اللعنة التي ألقيت على جميع الرجال اللبنانيين، أصابتهم بفطريات القدم؟
									p.b-content__text بشكل جاد. لم أقابل هذا العدد الكبير من الرجال ذوي الاقدام النتنة من قبل. الأمر يشبه العيش في ثكنات الجيش.
									p.b-content__text أنا لا أقول أن كل الرجال نتنين، لكـن الأمـر تجاوز الموعد الأول مع عدد قليل من الرجال، وقد قتلوني بتلك الرائحة الكريهة للجلد القذر المتعفن.
									p.b-content__text أسوأ شيء هو أن الرائحة أفسـدت علاقتنا الجنسية. لم تكن الرائحة واضحة في البداية، ولكن بمجرد أن يخلع هؤلاء الشبان ملابسهم، بدأت أشعر بالغثيان وأتمنى أن يختفوا من حياتي إلى الأبد.
									img(src="img/img-3.jpg", alt="").b-content__img
									.b-content__test
										.b-test
											p.b-test__lead Я решила провести опрос в интернете.
											p.b-test__question Что больше всего вас раздражает в мужчине?
											.b-test__answers
												p.b-test__answer.b-test__answer--1 1. Грязная одежда
													span.b-test__line
												p.b-test__answer.b-test__answer--2 2. Плохие манеры
													span.b-test__line
												p.b-test__answer.b-test__answer--3 3. Маленький член 
													span.b-test__line
												p.b-test__answer.b-test__answer--4 4. Вонючие ноги
													span.b-test__line
											.b-test__footer
												img.b-test__ava(src="img/test-ava-1.jpg", alt="")
												img.b-test__ava(src="img/test-ava-2.jpg", alt="")
												img.b-test__ava(src="img/test-ava-3.jpg", alt="")
												p.b-test__peoples Всего проголосовало 753 человек
									p.b-content__text لقد ناقشت المشكلة مع صديقاتي الإناث واعترفن بأنهن وجدن رائحة قدم الرجال مثيرة للاشمئزاز. كان هذا الأمر لا يطاق مع بعض الرجال، بينما مع مع بعض الرجال الآخرين لم تكن الرائحة بهذا السوء. على أي حال، فإن غالبية السكان الذكور في لبنان يعانون من بعض الأمراض الفطرية. إنها حقيقة.
									p.b-content__text بالطبع، لم أخبر كل هؤلاء الرجال بأن رائحتهم سيئة. لا أعرف ماذا خمنوا سبب رفضي ممارسة الجنس معهم، ولكن 
									blockquote.b-quote
										img(src="img/img-4.jpg", alt="").b-quote__img.b-quote__img--desktop
										p.b-quote__text  7 من 8 مرات عندما كنت على وشك ممارسة الجنس مع رجل، لم أتمكن من السماح بحدوث ذلك لأن ذلك الرجل كانت رائحته كريهة
										p.b-quote__text حدث ذلك مرة واحدة لأننا كنا في الحمام معًا.
										img(src="img/img-4.jpg", alt="").b-quote__img.b-quote__img--mobile
									.b-content__product.b-product
										p.b-product__title لِمَ أقول هذا؟هناك حلاً!

										p.b-product__text هناك رذاذ للقدم من أوروبا. يطلق عليه #[a(href="") Fresh&nbsp;Fingers]. الاسم يتحدث عن نفسه. تحيا أصابع اليدين والقدمين العذبة!
										a(href="")
											img.b-product__img(src="img/product.png", alt="")
										p.b-product__text أنا أعلم أن القدم المتعرقة عرضة للإصابة بالعدوى الفطرية. لتجنب هذا، أحمل دائمًا #[a(href="") Fresh&nbsp;Fingers] معي. لم أكن لأفكر أبدًا أنني سأحتاجه عندما أكون في الفراش مع رجال لبنانيين.
										p.b-product__text إنه رذاذ طبيعي. الزيوت العطرية تقضي على الرائحة وتهدئ البشرة، والتركيبة الخاصة تزيل الفطر من الاستخدام الأول. هام: يزيل المشكلة حقاً بدلاً من إخفاء الرائحة برائحة النعناع.
										p.b-product__text هيا اطلبوا زجاجة لأنفسكم من هذا الرذاذ يا سيدات.
										p.b-product__text يا رفاق! إذا كنتم تقرأون هذه المدونة، من فضلكم، أنا أتوسل إليك، اشتروا #[a(href="") Fresh&nbsp;Fingers]، حينئذ قد أفكر في ممارسة الجنس معكم. يقدم موقع الويب حاليًا عرضًا وقد تأكدت منه للتو.
										p.b-product__text انقر على الرابط أدناه واجعل رفيقتك سعيدة.
										a.b-product__btn.b-btn(href="") تقديم الطلب
								.b-main__comments.b-comments
									h2.b-comments__title التعليقات
									.b-comments__item
										.b-comments__top
											img(src="img/ava-1.jpg", alt="").b-comments__ava
											span.b-comments__name نادين:
											span.b-comments__date #[script dtime_nums(-8, true)]
										p.b-comments__text حسنًا، أخيرًا أثار شخص ما هذه القضية. كان الأمر لا يُحتمل.
										.b-comments__footer
											span.b-comments__likes 37
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-2.jpg", alt="").b-comments__ava
											span.b-comments__name ميريام:
											span.b-comments__date #[script dtime_nums(-7, true)]
										p.b-comments__text أوافقك الرأي تمامًا. جميع الرجال الذين رافقتهم كانت رائحتهم كريهة. الرائحة كانت تقتلني كلما خرجت في موعد.
										.b-comments__footer
											span.b-comments__likes 46
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-3.jpg", alt="").b-comments__ava
											span.b-comments__name إليسـار:
											span.b-comments__date #[script dtime_nums(-6, true)]
										p.b-comments__text بالضبط. في مرحلة ما، بدأت أفكر في أن كل رجل ينضح بهذه الرائحة قبل ممارسة الجنس. أمر مقزز!
										.b-comments__footer
											span.b-comments__likes 89
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-4.jpg", alt="").b-comments__ava
											span.b-comments__name باسل:
											span.b-comments__date #[script dtime_nums(-5, true)]
										p.b-comments__text سيداتي، أنتن تبالغن في ردود أفعالكن هنا
										.b-comments__footer
											span.b-comments__likes 5
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-5.jpg", alt="").b-comments__ava
											span.b-comments__name سيرين:
											span.b-comments__date #[script dtime_nums(-4, true)]
										p.b-comments__text هـذه ليست وجهة نظر منفصلة. يا رجال رائحتكم فعلا سيئة
										.b-comments__footer
											span.b-comments__likes 30
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-6.jpg", alt="").b-comments__ava
											span.b-comments__name فادي:
											span.b-comments__date #[script dtime_nums(-3, true)]
										p.b-comments__text للأسف، هذا صحيح. أعاني من رائحة قدم كريهة. شكرًا على النصيحة، سأطلب هذا الرذاذ بالتأكيد. لقد جربت العديد من الطرق التي لا أريد حتى التفكير فيها
										.b-comments__footer
											span.b-comments__likes 45
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
									.b-comments__item
										.b-comments__top
											img(src="img/ava-7.jpg", alt="").b-comments__ava
											span.b-comments__name سـارة:
											span.b-comments__date #[script dtime_nums(-2, true)]
										p.b-comments__text يا رفاق! الرذاذ ناجح بالفعـل! هيا اطلبوا واحدًا لأنفسكم! شكرًا لك على طرح المناقشة
										.b-comments__footer
											span.b-comments__likes 58
											a.b-comments__link(href="") Нравитя
											a.b-comments__link(href="") Не нравится
											a.b-comments__link(href="") Ответить
							.b-main__sidebar
								.b-sidebar
									h2.b-sidebar__caption Это может быть интересным
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-1.jpg", alt="")
										p.b-sidebar__text تم الكشف عن السبب الأساسي للطلاق في لبنان. ستتفاجأ! 
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-2.jpg", alt="")
										p.b-sidebar__text 5 علامات تشـير إلى أنكِ بحاجة إلى رجل جديد
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-3.jpg", alt="")
										p.b-sidebar__text لماذا لا يتصل؟ تعلمي ما يجب القيام به لإنقاذ علاقتك
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-4.jpg", alt="")
										p.b-sidebar__text إليك كيف تؤثر رائحة شريكك على رغبتك في ممارسة الجنس
									a.b-sidebar__item(href="")
										img.b-sidebar__img(src="img/sidebar-img-5.jpg", alt="")
										p.b-sidebar__text 20+ صور لأزواج العائلات السعيدة. تعلمي أسرارهم!

			.b-footer
				.container
					p.b-footer__copyright © #[span.ryear] حقوق الطبع والنشر محفوظة 
		script(src="js/common.js")